@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Sipariş Alma Uygulaması</h1>
    <p class="lead">Sipariş vermek için iletişime geçebilirsiniz</p>
    <p><a href="/home/contact" class="btn btn-primary btn-lg">İletişim &raquo;</a></p>
</div>

